.card-container {
  border: 1px solid #D5DBDB;
  border-radius: 8px;
  margin-top: 1em;
  background-color: black;
  box-shadow: 6px 6px 9px rgb(27, 24, 170)

}

.img-card {
  border-radius: 50%;
  border: 2px solid #2E4053;
}

.card-container h1 {
  font-family: 'Permanent Marker', cursive;
}

.card-container h3 {
  font-family: 'Satisfy', cursive;
}

.card-container button {
  background-color: #82E0AA;
  color: #B03A2E;
  border-radius: 8px;
  font-weight: bold;
  padding: 0.3em 0.8em;
}

.card-container button:hover {
  border: 1px solid #AAB7B8;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
